.heart {
	content: "";
	background-color: red;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 360px;
	width: 360px;
	transform: rotate(-45deg);
}

.heart::after {
	content: "";
	background-color: red;
	overflow: hidden;
	position: absolute;
	height: 360px;
	width: 360px;
	border-radius: 50%;
	left: 180px;
}

.heart::before {
	content: "";
	background-color: red;
	overflow: hidden;
	position: absolute;
	height: 360px;
	width: 360px;
	border-radius: 50%;
	bottom: 180px;
}
