body {
	background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
	font-family: 'IBM Plex Mono', monospace;
}

h1 {
	font-size: 40px;
	font-weight: 700;
}

h6 {
	padding: 15px;
}

#inrow3 {
	padding: 15px;
}

.fst {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	height: 350px;
}

.scnd {
	height: fit-content;
	max-width: 100%;
	height: 350px;
}

.skl {
	margin: 15px;
	height: 25px;
}

#passport {
	height: 100%;
	width: 90%;
	overflow: hidden;
	transform: scaleY(1.22);
	top: 23px;
}


#programmingskills {
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 350px;
}

#otherskills {
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

::-webkit-scrollbar {
	display: none;
}

#academics a,
#skills a,
#skill2 a,
#projects a {
	text-decoration: none;
}

#inrow4 a {
	width: 96.8%;
	display: block;
}

.scnd .table caption {
	color: #ffffff;
	font-size: 32px;
	font-weight: 800;
}

.fourth {
	height: 350px;
}

.fourth .header {
	padding: 15px;
}

.fourth .list-group li {
	padding: 10px;
	font-size: large;
	font-weight: 500;
}

.header h4 {
	font-size: 32px;
	font-weight: 900;
	color: #ffffff;
}

.fifth {
	height: 350px;
}

.fifth .header {
	padding: 25px;
	right: 15px;
	bottom: 15px;
}

.fifth .project-details li  {
	padding: 10px;
	list-style: none;
	font-size: large;
	font-weight: 500;
}

#inrow2  {
	background-color: #a6acec;
	width: 100%;
}

#inrow2 h6 a,
#inrow4 a,
.fifth .project-details a {
	text-decoration: none;
	color: #000000;
}

hr {
	border: 2.5px solid black;
}

#projects a button {
	background-color: #f5587b;
}

#academics a button {
	background-color: #feff89;
}

#skills a button {
	background-color: #f85959;
}

#inrow4 a button {
	background-color: #a6acec;
}

#skill2 a button {
	background-color: #f3cf7a;
}

.progress-bar .skl .line1 {
	background-color: #c4c708;
}
.progress-bar .skl .line2 {
	background-color: #ff9f68;
}
.progress-bar .skl .line3 {
	background-color: #f85959;
}
.progress-bar .skl .line4 {
	background-color: #7c203a;
}

.icon {
	background-color: #bdbcbc;
	border-radius: 1px 16px 1px 16px;
	right: 30px;
	bottom: 7px;
}

.icon .header h5 {
	padding: 5px;
	font-size: 24px;
	font-weight: 700;
}

.icon .inner-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-bar {
	background-color: #d3c4c4;
	top: 90px;
	width: 100%;
}

.third .header {
	padding: 15px;
	bottom: 15px;
}

.sixth{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sixth h3 i {
	color: rgb(182, 8, 8);
}

.icon .inner-icon div a i {
	font-size: 25px;
}